<section class="wrapper">

    <div class="card-login">
        <div>
            <p style="font-size: 20px; font-weight: 500;">LOGIN</p>
            <mat-form-field class="example-full-width" color="warn">
                <mat-label >Correo</mat-label>
                <input matInput placeholder="user@user" >
              </mat-form-field>
              <mat-form-field class="example-full-width" color="warn">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" >
              </mat-form-field>
            
            <button mat-raised-button color="warn" style="width: 200px;" >Login</button>

        </div>
        <img src="../../../../assets/images/Tacos.jpg" alt="Tres tacos">
    </div>

</section>