$Pcolor:#f44336;
.navigation-home{

    width: 100%;
    height: 80px;
    // background-color:$Pcolor;
    background-color:#D50000;

    display: flex;
    justify-content: center;
    align-items: center;
    color:yellow;
    border-bottom: 5px solid yellow;
    font-weight: 500;
    font-size: 40px;

}

.navigation-home img{
    width: 250px;
    height: 100px;
    margin-top: 5px;
}