<div class="wrapper">
   <div class="sidebar">
       <h2>Mi perfil</h2>
       <ul>
           <li><a href="#"><i class="fas fa-home"></i>Crear receta</a></li>
           <li><a href="#"><i class="fas fa-user"></i>Lista recetas</a></li>
          
       </ul> 
       <!-- <div class="social_media">
         <a href="#"><i class="fab fa-facebook-f"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
     </div> -->
   </div>
   <div class="main_content">
       <div class="header">Bienvenido a Mi recetario MX</div>  
       <div class="info">
         <router-outlet></router-outlet>
     </div>
   </div>
</div>