<div class="container-fluid">

    <section class="skeletonimage">
     <p>COMIDA FACIL Y RAPIDA</p>

     <div class="skeletonimage_description">
         <p> forma parte de esta gran comunidad,</p>
         <p> empieza a crear y compartir miles de recetas con tus amigos,¡que estas esperando!,</p>
           
            <p>
                accede a miles de recetas
                con un solo click aqui
            </p>
         
        <button mat-raised-button  style="width: 200px; background-color: yellow;" routerLink="/registro" >Regitrarse!!!</button>

     </div>

    </section>
    <section class="skeletoninfo">
     <div>
         <img src="../../../../assets/images/landingPlato1.jpg" alt="imagen de tamal">
         <h1 style="color:yellow; margin-bottom: 0px;     font-family: 'Patrick Hand', cursive;
         ">¿Como surgio la idea?</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga provident libero perferendis, ducimus est! Excepturi optio minus pariatur repellendus dolorem, qui eum minima officia, eius exercitationem delectus consequatur libero?</p>
     </div>
     <div>
         <img src="../../../../assets/images/landingPlato2.jpg" alt="imagen de platillo">
 
         <h1 style="color:yellow; margin-bottom: 0px;     font-family: 'Patrick Hand', cursive;
         ">¿Que encontraras?</h1>
 
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil fuga provident libero perferendis, ducimus est! Excepturi optio minus pariatur repellendus dolorem, qui eum minima officia, eius exercitationem delectus consequatur libero?</p>
     </div>
 
    </section>
     <router-outlet></router-outlet>
 
 
 
 </div>