<div class="wrapper-home">
 <section class="SectionInputs">
    <h1>Registro</h1>
    <div class="SectionInput_text">
        <p>Bienvenido!</p>
        <p>Esta opcion solo te llevara <span style="color: #D50000;">unos segundos</span> registrate ya!!!</p>
    </div>
    <div class="SectionInput_text-inputs">
       <section>
        <mat-form-field class="example-full-width" color="warn">
            <mat-label >Correo</mat-label>
            <input matInput placeholder="user@user" >
        </mat-form-field>
        <mat-form-field class="example-full-width" color="warn">
            <mat-label >Contraseña</mat-label>
            <input matInput type="password" >
        </mat-form-field>
       </section>
       <section>
        <mat-form-field class="example-full-width" color="warn">
            <mat-label >Nombre</mat-label>
            <input matInput placeholder="user name" >
        </mat-form-field>
        <mat-form-field class="example-full-width" color="warn">
            <mat-label >Repetir contraseña</mat-label>
            <input matInput type="password" >
        </mat-form-field>
       </section>
       
    </div>
    <button mat-raised-button color="warn" style="width: 200px;" >Registrarse</button>

 </section>


    <div class="SectionImage">
        <span>Mi Recetario MX</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore reprehenderit dolores nihil debitis accusamus sit ipsam iste, fugiat excepturi cum assumenda inventore ex tenetur dolorum delectus soluta aut repudiandae blanditiis?</p>
    </div>
</div>